.modal{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    transform: scale(0);
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal.active{
    transform: scale(1);
}
.modalContent{
    width: 426px;
    height: 638px;
    background: #FFFFFF;
    border: 1px solid #F4F5FF;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 72px;
}
.input{
    width: 282px;
    height: 48px;
    padding-left: 15px;
    border: 1px solid #F4F5FF;
    box-sizing: border-box;
    border-radius: 8px;
}
.inputInvalid{
    border-color: red;
}
.input::placeholder{
    font-size: 16px;
    line-height: 16px;
    color: rgba(33, 37, 66, 0.25);
}
.buttonRegister{
    width: 282px;
    height: 60px;
    background: linear-gradient(92.65deg, #DFEBFF -21.79%, #88ADCA 126.46%), #AECEF3;
    border-radius: 69px;

    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: white;

    margin-bottom: 40px;
}
.containerLog{
    margin-right: 550px;
}

.nameInput{
    margin-bottom: 10px;
    float: left;
}
.input{
    margin-bottom: 24px;
}
.input:last-child{
    margin-bottom: 32px;
}
.uReg{
    font-size: 16px;
    line-height: 24px;
}
.modalContent a{
    color: rgba(33, 37, 66, 0.25);
}

